$dGreen: #1f373d;
$yellow: #ffcc01;
$white: #ffffff;
$pictures: #96bece;
$grey: #f6f5f4;
$lightGrey: #919eb1;
$backColor: #f6f5f4;
$shadow: 3px 10px 44px 0px rgba(0, 0, 0, 0.164);
$montserrat: 'Montserrat', sans-serif;
$mobile: 767px;
$desktop: 1000px;
